services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: mydb
    volumes:
      - postgres-data:/var/lib/postgresql

  redis:
    image: redis:7
    container_name: document-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_volume_data:/data

  redis_insight:
    image: redislabs/redisinsight:1.14.0
    container_name: redis_insight
    restart: always
    ports:
      - "8001:8001"
    volumes:
      - redis_insight_volume_data:/db

volumes:
  postgres-data:
    external: true

  redis_volume_data:

  redis_insight_volume_data:
